<.back navigate={~p"/products"}>
  Back to Products
</.back>

<br/>
<hr/>
<br/>

<p>ID: {@product.id}</p>

<p :if={@product} > {@product.name} </p>

<!-- <.modal id="user-modal" show>
  Click Me!
</.modal> -->

<br/>
<hr/>
<br/>

<.button>
  Buy
</.button>

